# Virtual environment
.venv/

# Database
*.db
instance/

# Python cache
__pycache__/
*.pyc
*.pyo

# Migrations (optional — some people commit these, some don't)
migrations/

# VS Code
.vscode/

# Environment variables ()
.env
.flaskenv